
* { 
    box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #4D0011;
    color: #232425;
}

figure {
    margin: 0 0 2rem 0;
    padding: 0;
    text-align: center;
}

img {
    border-radius: 5px;
    box-shadow: 0 0 5px #232425;
    margin: .5rem auto 1rem auto;
    max-width: 100%;
    height: auto;
}

p, span, cite {
    text-align: justify;
    padding-bottom: .5rem;
    font-size: 1rem;
    line-height: 1.25rem;
}

h1, h2, h3, h4, figcaption, h1 ~ p {
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    color: #4D0011;
    text-align: center;
}

h1 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h4 {
    line-height: 1.75rem;
    padding-top: 1rem;
    color: #232425;
}

blockquote {
    margin: 0;
    display: inline-block;
    padding: 1.5rem;
    width: auto;
    text-align: justify;
    color: #4B443C;
    background: rgba(75,68,60, .2);
    border-radius: 10px;
    box-shadow: 0 0 5px #4B443C;
}

nav {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin: -1.5rem 0 -.3rem 0;
}
    nav > a, h4 > a:last-child {
        text-decoration: none;
        color: #4B443C;
        font-size: 1rem;
        border-radius: 5px;
        border-bottom: dotted 1px rgba(75,68,60, .3);
        padding: 1.5rem .5rem;
        transition: background-color .4s cubic-bezier(.21,-0.3,.87,1.35), 
                    color .4s cubic-bezier(.21,-0.3,.87,1.35);
    }
        nav > a:hover, nav > a:last-child:hover, h4 > a:last-child:hover {
            background-color: #4B443C;
            color: #E4E5E8;
        }

        nav > a:last-child, h4 > a:last-child {
            border-bottom: none;
        }

a {
    color: #9A0022;
    text-decoration: none;
    transition: color .5s ease-in-out;
}
    a:hover {
        color: #FE0038;
    }

#main {
    background: #E4E5E8;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    text-align: center;
}

@media (min-width: 769px) {

    h1 {
        font-size: 1.75rem;
    }

    p, span, cite {
        font-size: 1.1rem;
    }

    #main {
        padding: 1.5em 5em;
    }

    nav {
        flex-wrap: wrap;
        flex-direction: row;
        margin: -.5em 0 0 0;
    }
        nav > a, nav > a:last-child {
            background: rgba(75,68,60, .2);
            box-shadow: 0 0 5px #4B443C;
            margin: .3em .5em;
            flex: 1 1 210px;
        }
    
    h4 > a:last-child {
        background: rgba(75,68,60, .2);
        box-shadow: 0 0 5px #4B443C;
        margin: .3em;
        display: inline-block;
    }

    blockquote {
        margin-top: 1.5em;
    }

    .float-left {
        float: left;
        max-width: 50%;
        margin: 0 1.5em .5em 0;
    }

    .float-right {
        float: right;
        max-width: 50%;
        margin: 0 0 0.5em 1.5em;
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
} 

@media (min-width: 1025px) {

    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    p, span, cite {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    nav {
        margin: 0; 
    }
        nav > a, nav > a:last-child {
            padding: .5em;
            flex: 1 1 auto; 
            margin: .5em .5rem;
        }
    
    h4 > a:last-child {
        padding: .5em;
    }
}
